@import "bootstrap.scss";

.btn-outline-success {
  color: #9013FE;
  background-color: transparent;
  background-image: none;
  border-color: #9013FE;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #9013FE;
  border-color: #9013FE;
}