<!doctype html>
<html>
  <head>

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <!-- Font awesome -->

        <script src="https://use.fontawesome.com/6de69edf77.js"></script>
    <!-- end -->

  </head>
  <body>
    <%= yield %>
  </body>
</html>
