---
title: My first Bootstrap Site
---

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Lhente's site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<header>
  <h1>Welcome to my site</h1>
  <p>This is my first bootstrap site, so forgive the chaos.</p>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/shirt_badass_unicorn.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Badass Unicorn</h5>
          <p class="card-text">Created August 2017</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/shirt_all_your_base.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">All your base</h5>
          <p class="card-text">Created October 2016</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/shirt_dino_ascii.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ascii Dino</h5>
          <p class="card-text">Created March 2018</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/shirt_badass_unicorn.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Badass Unicorn</h5>
          <p class="card-text">Created August 2017</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/shirt_all_your_base.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">All your base</h5>
          <p class="card-text">Created October 2016</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/shirt_dino_ascii.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ascii Dino</h5>
          <p class="card-text">Created March 2018</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="share-section">
 <img src="images/share_party_parrot.png"> 
 <h3>Share the shirt out of this</h3>
 <a href="#">
  <span class="fa-stack fa-lg">
   <i class="fa fa-circle fa-stack-2x"></i>
   <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
 </a>
 <a href="#">
  <span class="fa-stack fa-lg">
   <i class="fa fa-circle fa-stack-2x"></i>
   <i class="fa fa-facebook fa-stack-1x"></i>
  </span>
 </a>
</section>




<%= link_to(
  # "Read Documentation",
  # "https://middlemanapp.com/basics/templating_language/",
  # target: "_blank"
) %>
